# example Filtronaut.config file

# directly launch favorites mode with Win-F, but keep Alt-Esc for openWindows:
Hotkey Launch: !Esc	openWindows
Hotkey Launch: #f	Favorites

# restrict open windows to Outlook windows with Alt-O:
Hotkey Class: !o	rctrl_renwnd32
# restrict open windows to Edge windows with Alt-E:
Hotkey Class: !e	Chrome_WidgetWin_1

# Turn off sniplet autosave by defining Ctrl-S as Save hotkey:
Hotkey Save: ^s

# Alt-1 to send e-mail to selected sniplet:
Action *:!1	mailto:%s

# Alt-1 to place the window on the left half of screen 1:
Monitor 1:!1	%,0,50,0,0
# Alt-2 to place it on the right half of screen 1, leaving 10% empty on the top:
Monitor 1:!2	%,50,0,10,0
# Alt-3 to center it on screen 2:
Monitor 2:!3	c
# Ctrl-3 to maximise it on screen 2:
Monitor 2:^3	x

# Redefine pdf filter to Ctrl-P and use Alt-P for powerpoint:
Hotkey Pdf: ^p
Mode powerpoint:!p	i)\.ppt[xm]?$

# Sniplets Sniplets:^k	C:\Temp/macros
Sniplets Sniplets:^m	onedrive:\Apps\Filtronaut\macros.txt
Sniplets E-mail:^e	onedrive:\Apps\Filtronaut\e-mail.txt
# Path Bookmarks:.\foo

# no popups in the window list:
Exclude OpenWindows:^PopupHost$
Exclude OpenWindows:^Kurznotizen$
# exclude everything containing "junk" from all lists:
Exclude *:i)junk
