# example Filtronaut.config file

# directly launch favorites mode with Win-F, but keep Alt-Esc for openWindows:
Hotkey Launch: !Esc	Open windows
Hotkey Launch: #F	Favorites

# restrict open windows to Outlook windows with Alt-O:
Hotkey Class: !O	rctrl_renwnd32
# restrict open windows to Edge windows with Alt-E:
Hotkey Class: !E	Chrome_WidgetWin_1

# Turn off sniplet autosave by defining Ctrl-S as Save hotkey:
Hotkey Save: ^S

# Alt-1 to send e-mail to selected sniplet:
Action *:!1	mailto:%s

# percentual margins between window and monitor go clockwise: %,top,right,bottom, left
# Alt-1 to place the window on the left half of screen 1:
Monitor 1:!1	%,0,50,0,0
# Alt-2 to place it on the right half of screen 1, leaving 10% empty on the top:
Monitor 1:!2	%,10,0,0,50
# Alt-3 to center it on screen 2:
Monitor 2:!3	c
# Ctrl-3 to maximise it on screen 2:
Monitor 2:^3	x

# Redefine pdf filter to Ctrl-P and use Alt-P for powerpoint:
Hotkey Pdf: ^P
Mode Powerpoint:!P	i)\.ppt[xm]?$

Sniplets Macros:^M	onedrive:\Apps\Filtronaut\macros.txt
Sniplets E-mail:^E	onedrive:\Apps\Filtronaut\e-mail.txt
# Path Bookmarks:.\foo

# no popups in the window list:
Exclude Open windows:^PopupHost$
# exclude sticky notes from the window list:
Exclude Open windows:^Sticky Notes$
# exclude everything containing "junk" from all lists:
Exclude *:i)junk
